body {
	margin: 0;
	padding: 0;
	font-family: courier, helvetica;
	color: black;
}

#container {
	text-align: center;
	display: block;
}

#header {
	width: 100%;
	padding: 20px 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEklEQVQImWNgYGCQYsABqCkBABpPAIMVq8LQAAAAAElFTkSuQmCC) repeat;
	border-bottom: solid 2px black;
}

.row {
    margin-top: 35px;
	width: 100%;
	display: block;
}

input {
	border: solid 1px black;
	padding: 2px;
	color: black;
	font-family: inherit;
}

button {
	font-family: inherit;
	border:solid 1px #ccc;
	font-weight: bolder;
	font-size: 15px;
}
.action-button {
	font-size: 20px;
	background-color: #007fff;
	color: white;
}

button:hover {
	font-family: inherit;
	border:solid 1px black;
	font-weight: bolder;
}

label {
	padding: 2px;
	margin-right: 0px;
}

#fileBrowser {
	display: none;
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

span {
	padding: 0.35em;
	display: inline-block;
}


/*  Credit: http://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: gray;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #007fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
