
@import url('https://fonts.googleapis.com/css?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jomhuria&display=swap');

* {
    font-family: 'Oranienbaum', serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E2D5CD;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.first-page {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

#logo-link {
    text-decoration: none;
    color: black;
    font-family: Jomhuria, cursive;
    margin-top: -60px;
    margin-bottom: 50px;
    width: 270px;
    border-bottom: solid 20px yellow;
    height: 55px;
}

.big-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 70px;
    text-align: center;
    padding-left: 70px;
}

.before-after {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.before-after-img {
    width: 500px;
    height: auto;
}

.click-button {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
}

.upload-image {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    width: 600px;
    min-height: 70px;
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 100px;
    position: relative;
}

.upload-image::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-bottom: solid 20px yellow;
    z-index: -1;
}

.inline-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline: 0;
    position: relative;
}
.inline-button::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-bottom: solid 20px yellow;
    z-index: -1;
}

#fileBrowser {
    display: none;
}

div.label {
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
}

.img-galery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.gallery-item {
    width: 200px;
    height: auto;
    margin-right: 30px;
}

.gallery-item:hover {
    cursor: pointer;
    outline: 2px yellow solid;
    outline-offset: -6px;
}

.img-selected {
    outline: 2px yellow solid;
    outline-offset: -6px;
}


.settings {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings>span {
    font-size: 40px;
}

.settings-row {
    width: 100%;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control {
    font-size: 40px;
}

.nr-input {
    font-size: 40px;
    width: 70px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    background-color: yellow;
    border: 0;
}




.invisible {
    display: none;
    z-index: -99;
}

.test-box-container {
    width: 900px; height: 700px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    margin-top: 20px;
    position: relative;
}
#play-icon {
  box-sizing: border-box;
  border-color: transparent transparent transparent #202020;
  position: absolute;
  top: 0; left: 0;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  background-color: #E2D5CD;
  opacity: 0.9;
  width: 900px; height: 700px;
  cursor: pointer;
}
#spectrum-canvas {
    background-color: rgba(0, 0, 0, 1);
}

#download-link-container {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 40px;
    outline: 0;
}


.footer {
    width: 100%;
    margin-top: 100px;
    min-height: 150px;
    display: flex; flex-direction: row;
    justify-items: center;
    font-size: 20px;
}
.credits {
    display: flex; flex-direction: column;
    width: 100%;
    align-items: center;
}
.credits-title {
    font-size: 30px;
    font-weight: bold;
}
.credits a {
    text-decoration: none;
    margin-top: 5px;
    height: 20px;
    border-bottom: solid 5px yellow;
    color: black
}
.connect {  
    display: flex; flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.connect-link img {
    width: 24px; height: 24px;
    margin-right: 10px;
}


#waitScreen {
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-color: #E2D5CD;
    z-index: 9999;
}

#waitMessage {
    width: 100%; height: 100%;
    font-size: 40px;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media only screen and (max-width: 600px) {
    .before-after-img {
        width: 300px;
        height: auto;
    }
}